.main__blocks{
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
.block__grades{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grades__block{
    padding: 0 10px;
    border-left: 1px solid var(--color-theme-01);
}
